.profile-img-box {
    position: relative;
    height: 35rem;
    width: 35rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
}

.profile-img-box .img {
    position: absolute;
    height: 30rem;
    width: 30rem;
    border: 4px solid var(--Theme-color);
    border-radius: 50%;
    overflow: hidden;
}

.profile-img-box .img img {
    width: 100%;
}

.profile-img-box .text {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: rotate 60s linear infinite;
}

.profile-img-box .text span {
    position: absolute;
    font-size: 1rem;
    color: var(--Theme-color);
    left: 50%;
    transform-origin: 0 17.5rem;
}

@keyframes rotate {
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

@media screen and (max-width: 991px) {
    .home {
        height: 100%;
    }
    .profile-img-box {
        height: 22rem;
        width: 22rem;
        order: 1;
    }
    
    .profile-img-box .img {
        position: absolute;
        height: 18rem;
        width: 18rem;
    }
    
    .profile-img-box .text span {
        position: absolute;
        font-size: 1rem;
        color: var(--Theme-color);
        left: 50%;
        transform-origin: 0 11rem;
    }
}