@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --background-color: #4d4e67;
  --background-color-shade: #010226;
  --menu-background-color: #1a1b3c;
  --skin-color: #ffffffff;
  --skin-color-shade: #e6e6e6;
  --Theme-color: #fb8500;
  --Theme-color-hover: #c96a00;
  --hover-color: #ffffffff;
}

[data-theme="blue"] {
  --background-color: #4d4e67;
  --background-color-shade: #010226;
  --menu-background-color: #1a1b3c;
  --skin-color: #ffffffff;
  --skin-color-shade: #e6e6e6;
  --Theme-color: #fb8500;
  --Theme-color-hover: #c96a00;
  --hover-color: #ffffffff;
}

[data-theme="white"] {
  --skin-color: #010226;
  --skin-color-shade: #4d4e67;
  --menu-background-color: #ffffffff;
  --background-color-shade: #e6e6e6;
  --Theme-color: #663600;
  --Theme-color-hover: #754a1a;
  --hover-color: #ffffffff;
}

[data-theme="black"] {
  --background-color: #4d4e67;
  --background-color-shade: #000000;
  --menu-background-color: rgb(43, 43, 43);
  --skin-color: #ffffffff;
  --skin-color-shade: #e6e6e6;
  --Theme-color: #FF667F;
  --Theme-color-hover: #b34759;
  --hover-color: #ffffffff;
}

[data-theme="green"] {
  --background-color: #4d4e67;
  --background-color-shade: #003e1f;
  --menu-background-color: #33654c;
  --skin-color: #ffffffff;
  --skin-color-shade: #e6e6e6;
  --Theme-color: #FFD000;
  --Theme-color-hover: #cca600;
  --hover-color: #ffffffff;
}

/* Basic SetUp */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  /* transition: 0.4s; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--skin-color-shade);
  background-color: var(--background-color-shade);
  position: relative;
  overflow-x: hidden;
}

div {
  position: relative;
}

::selection {
  color: var(--background-color-shade);
  background-color: var(--skin-color);
}

/* Scrollbar design */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--menu-background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--Theme-color);
  border-radius: 1rem;
}

/* Reusable Component */

section {
  margin-left: 30rem;
  padding: 4rem;
  background-color: var(--background-color-shade);
  animation: sectionAnimation 0.4s ease-in;
}

.margin-bottom-bg {
  margin-bottom: 3rem !important;
}

.margin-bottom-md {
  margin-bottom: 2rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1rem !important;
}

.margin-right-sm {
  margin-right: 1rem !important;
}

.grid {
  display: grid;
  gap: 4.8rem;
}

.grid-2-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-col {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-col {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5-col {
  grid-template-columns: repeat(5, 1fr);
}

.btn {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #fff;
  background-color: var(--Theme-color);
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: all 0.4s;
}

.btn:hover {
  background-color: var(--Theme-color-hover);
}

.btn-sm {
  font-size: 1rem;
  text-transform: capitalize;
  color: #000;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1.4rem;
  text-align: center;
  transition: all 0.4s;
}

.btn-sm:hover {
  background-color: var(--Theme-color);
  color: #fff;
}

.secondary-heading,
.tertiary-heading {
  font-weight: 700;
  color: var(--skin-color);
}

.secondary-heading {
  font-size: 2.8rem;
}

.secondary-heading span {
  color: var(--Theme-color);
  margin-right: 5px;
}

.tertiary-heading {
  font-size: 2rem;
}

/* animation */

.transform-left-animation {
  animation: transformLeft 1.2s ease-in;
  transform: translateX(0%);
}

@keyframes transformLeft {
  0% {
    transform: translateX(-200%);
  }
  40% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
  }
}

.transform-right-animation {
  animation: transformRight 1.2s ease-in;
}

@keyframes transformRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  40% {
    transform: translateX(80%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}

.scale-animation {
  animation: scale 1.2s ease-in;
}

@keyframes scale {
  0% {
    transform: scale(0%);
  }
  40% {
    transform: scale(0%);
  }
  80% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes sectionAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 991px) {
  section {
    margin-left: 25rem;
    padding: 3rem;
  }
  .grid {
    display: grid;
    gap: 4.8rem;
  }

  .grid-2-col {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-3-col {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-4-col {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-5-col {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  section {
    margin-left: 0;
    padding: 2rem;
    padding-bottom: 10rem;
  }
  .grid {
    display: grid;
    gap: 4.8rem;
  }

  .grid-3-col {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-4-col {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-5-col {
    grid-template-columns: repeat(3, 1fr);
  }
}
