.home {
    height: 100vh;
}

.hero {
    order: 1;
}

.hero .subtitle {
    margin-bottom: 3rem;
}

.hero .description {
    margin-bottom: 4rem;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2.5rem;
}

.social-list a {
    display: block;
    font-size: 3rem;
    color: var(--skin-color-shade);
    transform: scale(1);
    transition: all 0.4s;
}

.social-list a:hover {
    color: var(--Theme-color);
    transform: scale(1.2);
}

@media screen and (max-width: 991px) {
    .home {
        height: 100%;
    }
    .home .grid {
        justify-items: center;
    }
    .hero {
        order: 2;
    }
}